*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
   font-weight: 400;
    /* background-image: linear-gradient(-25deg, #f2f2f2 50%, #222222 50%); */
    background: #222;
    /* display: flex; */
    /* align-items: center; */
}
.contenedor {
	/* background-color: rgb(204, 204, 204); */
	width: 90%;
	max-width: 1200px;
	margin: 40px auto;
	padding: 40px;
	border-radius: 10px;
    margin-top: 0;
    z-index: -1;
    margin-top: 20px;
    color: white;
}

.lN-s{
    color: yellowgreen;
}

header {
	display: flex;
     align-items: center;
     justify-content: space-between;
     flex-wrap: wrap;
     margin-bottom: 80px;
}

img {
	width: 100%;
    height: 100%;
    position: relative;
    left: 15px;
    object-fit: contain;
}

.titulo{
    margin-top: 100px;
    
}

.logo {
	font-size: 25px;
     font-weight: 600;
     color: #000;
	text-decoration: none;
}

.menu  {
	display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
}

.menu a {
	font-size: 22px;
     border-bottom: 2px solid transparent;
     margin-left: 40px;
     color: #000;
	text-decoration: none;
	transition: all 0.3s ease;
}

.menu a:hover {
	border-bottom: 2px solid #f2c968;
}

main {
     display: flex;
     justify-content: flex-end;
     align-items: center;
}



main .contenedor-img {
     max-width: 60%;
     margin-right: 40px;
}

.contenedor-texto .titulo {
     font-size: 50px;
     font-weight: normal;
     margin-bottom: 100px;
}

.contenedor-texto .servicios{
     font-weight: bold;
     color: yellowgreen;
     font-style: normal;
}


.contenedor-texto p {
     margin-bottom: 40px;
     line-height: 36px;
}

.btn-link {
     display: inline-block;
     padding: 10px 30px;
	border-radius: 100px;
     margin-right: 10px;
     text-decoration: none;
     /* background: #f2f2f2; */
}

.btn-link:hover,
.btn-link.activo {
	color: #fff;
	background: #5b4a9a;
}

@media screen and (max-width: 915px) {
     main {
          flex-direction: column;
          text-align: center;
     }

     main .contenedor-img {
          margin-bottom: 40px;
     }
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>> MENU RESPONSIVO >>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

nav{
    width: 100%;
    height: 70px;
    background-color: #111;
    position: fixed;
    top: 0;
    line-height: 70px;
}
.logo p{
    color: #fff;
    font-size: 25px;
    position: fixed;
    left: 10px;
    top: 20px;
    line-height: 29px;
}

.imagen-logo{
    width: 70px;
    height: 70px;
    position: fixed;
    left: 0;
}

.texto-cabezera{
    position: fixed;
    left: 80px;
}


ul{
    display: flex;
    float: right;
    margin-right: 80px;
}
ul li{
    list-style: none;
    margin: 0 15px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}
ul li a:active,
ul li a:hover{
    color: crimson;
}
.bar-btn{
    color: #fff;
    font-size: 25px;
    display: none;
}
#bar{
    display: none;
}
.home{
    background: url(./banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}
@media (max-width : 930px) {
    .logo{
        margin-left: 40px;
        font-size: 20px;
        z-index: 1;
    }
    ul{
        margin-right: 40px;
    }
    ul li a{
        font-size: 15px;
    }
}
@media (max-width : 850px) {
    ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 70px;
        left: -100%;
        background-color: #222;
        text-align: center;
        padding: 0;
        display: block;
        transition: all 0.8s;

    }
    .bar-btn{
        display: block;
        float: right;
        margin-right: 40px;
    }
    ul li{
        margin: 20px 0;
    }
    ul li a{
        font-size: 18px;
    }
    #bar:checked ~ ul{
        left: 0;
    }
}


/* <<<<<<<<<<<<<<<<<<<<<< SOCIAL-BARRA >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.social-barra{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    }
    .content{
        color: #202020;
      }
   
      .share-btn{
        position: absolute;
        bottom: 80px;
        right: 30px;
        z-index: 1;
      }
      .share-btn span{
        height: 40px;
        width: 40px;
        background: #16a085;
        line-height: 40px;
        font-size: 15px;
        color: #e9fcf8;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #159d82;
      }
      .share-btn:hover span{
        background: #159d82;
        border-color: #12876f;
      }
      .share-btn a span{
        position: absolute;
        right: 10px;
        bottom: 10px;
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 18px;
        border: 1px solid transparent;
        background: #16a085;
        z-index: -1;
        opacity: 0;
        pointer-events: none;
        transition: 0.6s;
      }
      #click:checked ~ .share-btn a span{
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 20px;
        z-index: 1;
        opacity: 1;
        pointer-events: auto;
      }
      #click:checked ~ .share-btn a:nth-child(2) span{
        bottom: 0px;
        right: 80px;
        background: #f5ea8d;
        border-color: #f5ea8d;
      }
      #click:checked ~ .share-btn a:nth-child(3) span{
        bottom: 65px;
        right: 65px;
        background: #e1306c;
        border-color: #eca4bc;
      }
      .share-btn a:nth-child(3) span{
        transition-delay: 0.2s;
      }
      #click:checked ~ .share-btn a:nth-child(4) span{
        bottom: 80px;
        right: 0px;
        background: #01446d;
        border-color: #01446d;
      }
      .share-btn a:nth-child(4) span{
        transition-delay: 0.4s;
      }
      #click{
        display: none;
      }

      
      /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> SERVICIOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

      .services{
        /* background: #f1f1f1; */
        text-align: center;
      }
      .services h1{
        display: inline-block;
        text-transform: uppercase;
        border-bottom: 4px solid #3498db;
        font-size: 20px;
        padding-bottom: 10px;
        margin-top: 40px;
      }
      .cen{
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding: 20px;
      }
      .service{
        display: inline-block;
        width: calc(100% / 3);
        margin: 0 -2px;
        padding: 20px;
        box-sizing: border-box;
        cursor: pointer;
        transition: 0.4s;
      }
      .service:hover{
        background: #ddd;
      }
      .service i{
        color: #3498db;
        font-size: 34px;
        margin-bottom: 30px;
      }
      .service h2{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 500;
        margin: 0;
      }
      .service p{
        color: gray;
        font-size: 15px;
        font-weight: 500;
      }
      @media screen and (max-width: 800px) {
        .service{
          width: 50%;
        }
      }
      @media screen and (max-width: 500px) {
        .service{
          width: 100%;
        }
      }
      